/* gloria-hallelujah-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/gloria-hallelujah-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 16px;
  line-height: 1.8;
}

main {
  padding: 16px;
  text-align: center;
}

wired-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: block;
  margin-bottom: 60px;
}

section {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.control-btn {
  margin-bottom: 8px;
}

.control-btn-content {
  width: 100px;
  height: 28.5px;
}

#on-btn {
  background: #fff6c9;
}

#off-btn {
  background: #111827;
  color: white;
}

#rainbow-btn {
  color: white;
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
  );
}

.red-btn {
  background: #ef4444;
  color: white;
}

.orange-btn {
  background: #f97316;
  color: white;
}

.yellow-btn {
  background: #fde047;
}

.green-btn {
  background: #65a30d;
  color: white;
}

.blue-btn {
  background: #1d4ed8;
  color: white;
}

.indigo-btn {
  background: #3730a3;
  color: white;
}

.purple-btn {
  background: #6b21a8;
  color: white;
}

.pink-btn {
  background: #f9a8d4;
}

.tan-btn {
  background: #a16207;
  color: white;
}

.gradient-btn-container {
  margin-bottom: 8px;
}

.gradient-btn-content {
  width: 100px
}

#status-card {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  );
}

#status-card.on {
  background: #fff6c9;
}

#status-card.off {
  color: white;
  background: #111827;
}

#status-card.rainbow {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}
